<!doctype html>
<html lang="en">
<head th:replace="fragment/headTag"></head>
<body>
<div class="container">
  <div th:replace="fragment/navbar"></div>
  <div class="row justify-content-center" id="app">
    <div class="col-md-6 offset-md-0 border rounded">
      <nav class="navbar navbar-light border-bottom">
        <a class="navbar-brand" href="#">主题-文章-文章列表</a>
        <a th:href="'/article/add/subject/'+${subject.id}" class="btn btn-danger btn-sm d-inline" style="margin-left:20px;">添加文章</a>
      </nav>
      <div style="padding-bottom:15px;padding-top:15px;">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <ul class="list-group">
              <li th:each="article:${articles}" class="list-group-item"><a th:text="${article.title}" th:href="'/article/read/'+${article.id}"></a></li>
            </ul>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>