<!doctype html>
<html lang="en">
<head th:replace="fragment/headTag"></head>
<body>
<div class="container">
    <div th:replace="fragment/navbar"></div>
    <div class="row" id="app" v-cloak>
        <div class="col-md-6 offset-md-3 border rounded">
            <h5 style="padding:20px;" class="border-bottom">找回密码</h5>
            <form style="padding:20px;">
              <div class="form-group">
                <label for="exampleInputEmail1">邮箱地址</label>
                <input v-model="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="请输入邮箱地址...">
                <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
              </div>
              <button v-on:click="findpsd" type="button" class="btn btn-primary">提交</button>
            </form>
            <div v-if="errorShow" class="alert alert-danger" role="alert">
              {{message}}
            </div>
            <div v-if="successShow" class="alert alert-primary" role="alert">
              {{message}}
            </div>
        </div>
    </div>
</div>
<script>
var app = new Vue({
  el: '#app',
  data: {
    email: '',
    message:'',
    successShow:false,
    errorShow:false
  },
  methods: {
    findpsd: function () {
      this.$http.post('/user/findpsd', {
        email:this.email,
      }, {emulateJSON: true}).then(response => {
        console.log(response.body)
        if(response.body.success) {
            this.successShow = true;
            this.errorShow = false;
            this.message = response.body.msg;
        } else {
            this.errorShow = true;
            this.successShow = false;
            this.message = response.body.msg;
        }
      }, response => {
        this.errorShow = true;
        this.successShow = false;
        this.message = '网络异常'
      });
    }
  }
})
</script>
</body>
</html>