<!doctype html>
<html lang="en">
<head th:replace="fragment/headTag"></head>
<body>
<div class="container">
  <div th:replace="fragment/navbar"></div>
  <div class="row" style="min-height:600px">
    <div class="jumbotron col bg-light">
      <h1 class="display-2">做一款自己喜欢用的工具</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-outline-success btn-lg" href="#" role="button">新建主题</a>
      </p>
    </div>
  </div>
  <div class="row d-flex justify-content-around mb-1">
    <div class="card bg-warning col mx-1">
      <!--<img class="card-img-top" src="..." alt="Card image cap">-->
      <div class="card-body">
        <p class="card-text">导航</p>
      </div>
    </div>
    <div class="card bg-warning col mx-1">
      <!--<img class="card-img-top" src="..." alt="Card image cap">-->
      <div class="card-body">
        <p class="card-text">速查</p>
      </div>
    </div>
    <div class="card bg-warning col mx-1">
      <!--<img class="card-img-top" src="..." alt="Card image cap">-->
      <div class="card-body">
        <p class="card-text">卡片</p>
      </div>
    </div>
    <div class="card bg-warning col mx-1">
      <!--<img class="card-img-top" src="..." alt="Card image cap">-->
      <div class="card-body">
        <p class="card-text">文章</p>
      </div>
    </div>
  </div>
</div>
<script>

</script>
</body>
</html>